<h1>Test description</h1>

<p>Using angular.js build a table with 2 columns: 1. Color name, 2. Color (use background).</p>
<p>This project must contain at least 1 angular controller, service and directive. Add some pretty styles, using bootstrap.</p>
<p>Add custom styles using LESS.</p>
<p>Build it using gulp to minified files – vendor.js (all vendor libs like angular etc.), app.js (all your scripts), vendor.css (all vendor styles like bootstrap etc.), app.css (all your custom styles) and index.html file.</p>
<p>Upload this project to your GIT account.</p>
<br>
<p>Data json:</p>

{
    &quot;colorsArray&quot;:
    [
        {
            &quot;colorName&quot;:&quot;red&quot;,
            &quot;hexValue&quot;:&quot;#f00&quot;
        },
        {
            &quot;colorName&quot;:&quot;green&quot;,
            &quot;hexValue&quot;:&quot;#0f0&quot;
        },
        {
            &quot;colorName&quot;:&quot;blue&quot;,
            &quot;hexValue&quot;:&quot;#00f&quot;
        },
        {
            &quot;colorName&quot;:&quot;cyan&quot;,
            &quot;hexValue&quot;:&quot;#0ff&quot;
        },
        {
            &quot;colorName&quot;:&quot;magenta&quot;,
            &quot;hexValue&quot;:&quot;#f0f&quot;
        },
        {
            &quot;colorName&quot;:&quot;yellow&quot;,
            &quot;hexValue&quot;:&quot;#ff0&quot;
        },
        {
            &quot;colorName&quot;:&quot;black&quot;,
            &quot;hexValue&quot;:&quot;#000&quot;
        }
    ]
}